/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background-color: #222222;
    border-right: 1px solid #eee;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #222222;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding-right: 15px;
        padding-left: 15px;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }

.nav > li > a {
    color: #428bca;
}

.nav > li > ul {
    padding: 0px;
}

    .nav > li > ul > .active {
        border-left: 3px solid slateblue !important;
    }

    .nav > li > ul > li {
        line-height: 35px;
        list-style: none;
        text-indent: 15px;
        padding: 0;
    }

        .nav > li > ul > li > a:hover,
        .nav > li > ul > li > a:focus {
            background-color: #92bce0;
        }

        .nav > li > ul > li > a {
            display: block;
            text-decoration: none;
        }

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
    background-color: #92bce0;
}

.navbar-brand {
    display: inline-flex;
}

#navbarDropdown {
    left: auto;
    right: 0px;
}

.imgNavbarBrand {
    width: 30px;
    height: 30px;
    margin: -5px 10px 0px 0px;
}

.imgNavbarDropdown {
    width: 25px;
    height: 25px;
    margin: -5px 10px 0px 0px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
/*
 * Main content
 */
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }

tr > th > a {
    color:#333;
    display: block;
    height:20px!important;
    padding-left:0px !important;
}
tr > th > a:hover, a:focus {
    text-decoration:none !important;
}
